* {
  font-family: "Helvetica"
}

body {
  background-color: #ffff66;
  min-width: 300px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav ul {
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li#login {
  float: right;
}

nav a {
  display: block;
  padding: 10px 20px;
  text-align: center;
}

nav a.active {
  background-color: #ff6666;
  color: white;
}

nav a:hover {
  background-color: #555;
  color: white;
}

main {
  max-width: 765px;
  background-color: white;
  padding: 10px;
}

h1 {
  color: #ff6666;
  font-size: 2.4em;
  text-align: center;
}

section {
  padding: 8px;
}

section.first img {
  display: block;
  margin: auto;
  width: 80%;
}

div.image p {
  text-align: center
}

div.image a:visited, a#similar-website:visited {
  color: #ff6666;
}


section.similar-website {
  margin: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

a#similar-website {
  display: block;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
}

div.form {
  background-image: url("http://pre01.deviantart.net/ef6e/th/pre/f/2016/085/5/8/12884533_10154024463097604_1826834053_n_by_atomiccircus-d9wizo7.jpg");
}

@media screen and (max-width: 450px) {
    nav li, nav li#login {
      float: none;
    }

    section.first img {
      width: 100%;
    }
}